name: Pull Request Labeler

on:
  pull_request_target:
    types: [opened, synchronize]

jobs:
  labeler:
    permissions:
      contents: read
      pull-requests: write
      issues: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/labeler@v6
        with:
          configuration-path: .github/labeler.yml
